/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .slide-bg {
        height: auto;
        padding: 300px 0 300px;
    }
    .single-service {
        padding: 60px 22px;
    }
    p.about-pera {
        margin: 20px 0 35px;
    }
    
    .owl-theme .owl-controls .owl-nav div.owl-prev {
  left: -18px;
}    
.owl-theme .owl-controls .owl-nav div {
  right: -18px;
}
.blog-info {
  padding: 20px 12px;
}    
.blog-meta > span {
  margin-right: 7px;
}    
.blog-meta > span i {
  margin-right: 2px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu.open {
        right: 0;
    }
    .slide-bg {
        height: auto;
        padding: 300px 0 300px;
    }
    .slider-area .owl-nav {
        display: inherit;
    }
    .about-text {
        padding-top: 0;
    }
    p.about-pera {
        display: none;
    }
    .team-icon > a {
        font-size: 15px;
        height: 27px;
        line-height: 23px;
        margin: 0 7px;
        width: 27px;
    }
    .owl-nav {
        display: none;
    }
    .blog-right-sidebar {
        margin-top: 30px;
    }
    .blog-right-sidebar-bottom li.nn {
        margin-right: 14px;
    }
    .main-menu li {
  padding-left: 10px;
}
    .blog-area .owl-nav {
        display: none;
    }
    .mb-60 {
        margin-bottom: 30px;
    }
    .team-icon > a {
  margin: 0 4px;
}
.slider-title h2 {
  font-size: 65px;
  line-height: 58px;
}    
.footer-top-info ul li {
  padding-right: 20px;
}   
.all-progress {
  margin-top: 60px;
}    
.about-img {
  margin-top: 40px;
}    
.main-menu li a {
  font-size: 13px;
}    
.blog-meta > span {
  margin-right: 8px;
}    
.single-contact-option i {
  margin-bottom: 20px;
}    
.single-contact-option {
  margin-bottom: 30px;
}    
.single-contact-option h4 {
  margin-bottom: 10px;
}    
.blog-right-sidebar-bottom a {
  padding: 9px 18px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .header-area .navbar-toggle {
        margin-right: 0;
        padding: 0;
    }
    .main-menu {
        background-color: #000;
        width: 100%;
        float: left;
        padding: 20px;
    }
    .main-menu ul li {
        display: block;
        padding-left: 0;
        margin-bottom: 20px;
    }
    .main-menu ul li:last-child {
        margin-bottom: 0px;
    }
    .slider-text h1 {
        font-size: 50px;
    }
    .slide-bg {
        height: auto;
        padding: 200px 0 200px;
    }
    .slider-text h2 {
        font-size: 30px;
    }
    .ptb-100 {
        padding: 40px 0;
    }
    .pt-100 {
        padding-top: 40px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .single-service {
        padding: 40px 10px;
    }
    .portfolio-menu button {
        margin-bottom: 10px;
    }
    .pb-70 {
        padding-bottom: 10px;
    }
    .single-count {
        margin-bottom: 40px;
    }
    .single-count.res-count {
        margin-bottom: 0;
    }
    .count-title h2 {
        margin: 10px 0;
    }
    .team-icon > a {
        font-size: 15px;
        height: 30px;
        line-height: 26px;
        margin: 0 10px;
        width: 30px;
    }
    .submit input {
        margin-top: 25px;
    }
    .footer-address {
        padding: 30px 0 30px;
    }
    .footer-text {
        padding-top: 30px;
    }
    .footer-top-info ul li {
        padding-right: 0;
    }
    .footer-top-info ul li.res-mrg {
        margin: 7px 0;
    }
    .portfolio-menu button {
        margin-right: 10px;
        padding: 0 15px;
    }
    .img-poppu > img {
        width: 100%;
    }
    p.about-pera {
        margin: 15px 0 25px;
    }
    .slider-area .owl-nav {
        display: inherit;
    }
    .blog-area .owl-nav {
        display: none;
    }
    .pb-150 {
        padding-bottom: 100px;
    }
    .pt-200 {
        padding-top: 150px;
    }
    .blog-meta > span {
  margin-right: 5px;
}
    .blog-meta > span i {
  margin-right: 3px;
}
    .blog-middle-mrg {
        margin: 32px 0 33px;
    }
    .mtb-60 {
        margin: 20px 0;
    }
    .blog-search {
        margin-top: 40px;
    }
    .mb-60 {
        margin-bottom: 30px;
    }
    .blog-right-sidebar-bottom li.nn {
        margin-bottom: 0;
        margin-right: 14px;
    }
    h3.leave-comment-text {
        margin-bottom: 20px;
    }
    .header-area.stick {
        padding: 15px 0;
    }
    .blog-info > h3 {
        margin-top: 14px;
        letter-spacing: 1px;
    }
    .slider-title h2 {
        font-size: 30px;
        line-height: 33px;
    }
    blockquote {
        padding: 14px 20px;
    }
.slider-title p {
  margin: 15px 0;
  letter-spacing: 1px;
  font-size: 18px;
}
.all-progress {
  margin-top: 60px;
}   
 .about-img {
  margin-top: 40px;
}   
.portfolio-menu {
  margin-bottom: 35px;
}    
.single-contact-option i {
  margin-bottom: 30px;
}    
.single-contact-option h4 {
  margin-bottom: 10px;
}    
.single-contact-option {
  margin-bottom: 30px;
}   
.single-contact-option.nn-mrg {
  margin-bottom: 0;
}    
.mt-100 {
  margin-top: 40px;
}    
.single-contact-option a:hover {
  color: #444;
}    
.slider-title > a {
  padding: 12px 15px;
}    
.about-rightsidebar > h2 {
  margin-bottom: 20px;
}    
.blog-title > span {
  font-weight: 300;
  margin-bottom: 7px;
}    
.blog-right-sidebar-bottom a {
  padding: 9px 20px;
}    
.section-title {
  width: 100%;
}    
.pt-90 {
  padding-top: 40px;
} 
.pb-100 {
  padding-bottom: 55px;
}    
    
    
    
    
    
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .footer-top-info ul li.res-mrg {
        margin: 7px 0 7px 15px;
    }
}