/*Theme Color File*/

a,
.theme_color,
.main-header .info-box .icon-box,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a,
.main-header .header-lower .search-box-btn,
.btn-style-one:hover,
.call-to-action-section .btn-column .theme-btn:hover,
.call-to-action-section-two .btn-column .theme-btn:hover,
.services-block .inner-box .lower-content .upper-box h3 a:hover,
.services-block .inner-box .lower-content .upper-box .icon-box,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.gallery-item .inner-box h3 a:hover,
.gallery-item .inner-box .category,
.default-section .about-column .inner-column .about-info li,
.default-section .about-column .inner-column .about-info li .icon,
.testimonial-block .inner-box .content .designation,
.news-block .inner-box .lower-content h2 a:hover,
.news-block .inner-box .lower-content .post-meta li .icon,
.list-style-one li .icon,
.contact-widget .contact-email,
.header-top-two .top-left ul li .icon,
.services-block-two .inner-box .lower-content h3 a:hover,
.services-block-three .inner-box .content h3 a:hover,
.services-block-three .inner-box .content .read-more,
.project-section .filters li:hover,
.project-section .filters li.active,
.gallery-item-two .inner-box .overlay-box .content .category,
.testimonial-block-two .inner-box .quote-icon,
.btn-style-three,
.news-block-two .inner-box .lower-content h3 a:hover,
.news-block-three .inner-box h3 a:hover,
.header-top-three .top-right ul li .icon,
.about-section .content-column .info-list li .icon,
.about-section .content-column .number-info .info-inner .text,
.about-section .content-column .number-info .info-inner .icon,
.services-block-four .inner-box .content h3 a:hover,
.services-block-four .inner-box .content .icon-box,
.services-block-four .inner-box .content .read-more:hover,
.gallery-item-three .inner-box .overlay-box .content .category,
.team-member .inner-box .lower-content h3 a:hover,
.team-member .inner-box .lower-content .designation,
.testimonial-block-three .inner-box .lower-box .author-location,
.list-style-two li .icon,
.header-top-four .top-left ul li .icon,
.header-top-four .top-right li .social-links a:hover,
.featured-block .inner-box .lower-content .icon-box,
.featured-block .inner-box .lower-content h3 a:hover,
.featured-block .inner-box .lower-content .title,
.services-block-five .inner-box h3 a:hover,
.testimonial-section-three .owl-nav .owl-prev:hover,
.testimonial-section-three .owl-nav .owl-next:hover,
.fact-counter .count-outer .icon,
.news-block-four .inner-box h3 a:hover,
.page-info .bread-crumb li a:hover,
.page-info .bread-crumb li,
.featured-block-two .inner-box .icon-box,
.featured-block-two .inner-box h3 a:hover,
.social-icon-two li a:hover,
.error-section .inner-section .text,
.pricing-column .inner-box:hover h2,
.testimonial-block-four .inner-box .location,
.sidebar-brochure .brochure:hover,
.locate-widget .inner-box .locate-link:hover,
.list-style-four li:before,
.quote-box .inner-box .get-quote,
.shop-item .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content .price,
.shop-item .inner-box .lower-content .rating .fa,
.news-block-four .inner-box .post-meta li .icon,
.blog-cat li a:hover,
.cart-table tbody tr .sub-total,
.product-details .basic-details .details-header .rating,
.product-details .basic-details .expired,
.prod-tabs .tab-btns .tab-btn:hover,
.prod-tabs .tab-btns .tab-btn.active-btn,
.prod-tabs .reviews-container .rev-header .rating,
.prod-tabs .reviews-container .reply,
.comment-form .rating-box .rating a,
.product-details .basic-details .details-header .item-price,
.sidebar .related-posts .post .price,
.sidebar .related-posts .post .rating .fa,
.blog-single .inner-box .lower-content .post-meta li .icon,
.sidebar .popular-posts .post-info:before,
.post-share-options .new-posts a:hover,
.social-icon-four li a:hover,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.sidebar-page-container .comments-area .comment .comment-inner .reply,
.news-block-five .inner-box .lower-content h2 a:hover,
.news-block-five .inner-box .lower-content .post-meta li .icon,
.news-block-five .inner-box .lower-content .read-more,
.info-block .info-inner .icon-box,
.team-section .owl-nav .owl-prev:hover,
.team-section .owl-nav .owl-next:hover,
.sidebar .popular-posts .post a, .sidebar .popular-posts .post a:hover,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.testimonial-section-three .client-thumbs-carousel .thumb-item .thumb-content .designation,
.testimonial-block-two .inner-box .lower-box .author-info .author-inner .author-location{
	color:#5b8f17;
}

/*BackGround Color*/

.scroll-to-top:hover,
.header-top-one .language .dropdown-menu > li > a:hover,
.main-menu .navigation > li > a:after,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-slider h2:before,
.btn-style-one,
.btn-style-two:hover,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.main-slider .tparrows.gyges:hover,
.sec-title h2:before,
.testimonial-section .owl-dots .owl-dot.active span,
.testimonial-section .owl-dots .owl-dot:hover span,
.footer-widget h2:before,
.header-top-two .language .dropdown-menu > li > a:hover,
.services-block-two .inner-box .image .icon-box,
.services-block-two .inner-box .lower-content h3:before,
.testimonial-section-two .owl-dots .owl-dot.active span,
.testimonial-section-two .owl-dots .owl-dot:hover span,
.btn-style-three:hover,
.slider-content h3:after,
.team-member .inner-box .lower-content:before,
.btn-style-four:hover,
.header-style-four .main-menu .navigation > li a:hover,
.header-style-four .main-menu .navigation > li.current > a,
.featured-block .inner-box:hover .lower-content .icon-box,
.services-block-five .inner-box:hover .icon-box,
.ui-state-active, .ui-widget-content .ui-state-active,
.accordion-block h2:before,
.error-search-form .form-group button,
.pricing-column .inner-box:hover .price-header,
.pricing-column .inner-box:hover .lower-content .join-btn,
.accordion-box.style-two .block .icon-outer .icon-minus,
.sidebar .sidebar-category .list li a:hover,
.sidebar .sidebar-category .list li.current a,
.accordion-box .block .acc-btn.active,
.quote-box .inner-box h4:before,
.sidebar-title h2:after,
.sidebar .popular-tags a:hover,
.news-block-five .inner-box .lower-content .post-meta:after,
.sidebar-page-container .group-title h2:after,
.services-single .inner-box .lower-content h2:before,
.styled-pagination li a:hover, .styled-pagination li a.active,
.blog-single .inner-box .lower-content .post-meta:after,
.social-icon-three li a:hover,
.author-box h2:after{
	background-color:#5b8f17;
}

/*Background Color Important*/
.rangeslider-widget .noUi-handle{
	background-color:#5b8f17 !important;
}

/*Border Color*/

.header-top-one .language .dropdown-menu,
.main-header .header-lower .search-box-outer .dropdown-menu,
.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > a:before,
.main-menu .navigation > li > ul > li > ul,
.btn-style-one,
.btn-style-two:hover,
.main-menu .navigation > li > ul > li  > ul > li > a:before,
.default-form input:focus,
.default-form select:focus,
.default-form textarea:focus,
.testimonial-section .owl-dots .owl-dot.active span,
.testimonial-section .owl-dots .owl-dot:hover span,
.clients-section .image-box:hover,
.header-top-two .language .dropdown-menu,
.header-style-two .search-box .form-group input:focus,
.testimonial-section-two .owl-dots .owl-dot.active span,
.testimonial-section-two .owl-dots .owl-dot:hover span,
.btn-style-three:hover,
.news-block-three .inner-box .category,
.news-block-two .inner-box .lower-content .category,
.clients-section-two .image-box:hover,
.clients-section-two .image-box:hover:after,
.btn-style-four:hover,
.subscribe-form .form-group input[type="text"]:focus,
.subscribe-form .form-group input[type="email"]:focus,
.header-style-four .search-box .form-group input:focus,
.featured-block .inner-box:hover .lower-content .icon-box,
.testimonial-section-three .owl-nav .owl-prev:hover,
.testimonial-section-three .owl-nav .owl-next:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.clients-section.style-two .image-box:hover,
.accordion-box.style-two .block.active-block,
.faq-form-section .form-group input[type="text"]:focus,
.faq-form-section .form-group input[type="email"]:focus,
.faq-form-section .form-group textarea:focus,
.error-search-form .form-group input:focus,
.sidebar-brochure .brochure:hover,
.sidebar-brochure .brochure:hover .icon,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.blog-single .inner-box .lower-content .text blockquote,
.styled-pagination li a:hover, .styled-pagination li a.active,
.pricing-column .inner-box:hover .lower-content .join-btn,
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.team-section .owl-nav .owl-prev:hover,
.team-section .owl-nav .owl-next:hover{
	border-color:#5b8f17;
}

/*Outline Color*/

.pricing-column .inner-box:hover{
	outline-color:#5b8f17;
}

/*RGBA Color*/

.call-to-action-section:before,
.shop-item .inner-box .image .overlay-box,
.call-to-action-section-two .inner-box:before{
	background-color:rgba(91,143,23,0.90);
}

.services-block .inner-box .image:before,
.team-member .inner-box .image .overlay-box{
	background-color:rgba(91,143,23,0.60);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#5b8f17;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#5b8f17;
	}
	
}